body {
    font-family: Verdana, sans-serif;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #d2e4feff;
}

.main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.begin {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.begin:hover {
    background-color: #2980b9;
}
